.admin-dashboard-container h2{
    text-align: center;
    margin-top: 2rem;
}

.loan-requests-grid{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
    align-items: self-start;
}

@media screen and (max-width:768px){
    .loan-requests-grid{
        display: flex;
        flex-direction: column;
    }
}