.request-card-container{
    color:black;
    background-color: #bbb2ab;
    width:30%;
    padding:1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.request-card-container button{
    padding:.7rem;
    border:none;
    border-radius: 10px;
    background-color: #747264;
    color:white;
    cursor: pointer;
    margin-top: 1rem;
}

.request-card-container div:nth-child(2){
    display: flex;
    gap:1rem;
}

@media screen and (max-width:768px){
    .request-card-container{
        width:90%;
        margin: auto;
    }
}