.user-dashboard-container{
    margin:4rem 0 0 2rem;
}

.user-dashboard-container p, .user-dashboard-container h2{
    margin:0.3rem;
    padding:0;
}

.user-utility-buttons{
    display: flex;
    gap:1rem;
}

.user-utility-buttons button{
    background-color: #747264;
    border:none;
    padding: .7rem 2rem .7rem 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    font-family: 'Mukta';
    font-size: 1rem;
    color: white;
    cursor:pointer;
}

.user-utility-buttons button:hover{
    background-color: #8d8b79;
}

@media screen and (max-width:768px){
    .user-dashboard-container{
        margin:3rem 0 0 1rem;
    }
}